button {
  background: none;
  background-image: url('../../images/general/button.png');
  background-size: contain;
  color: var(--white);
  font-family: 'Arvo', serif;
  text-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 0;
  width: 200px;
  height: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform-origin: center;
}

button:active {
  transform: rotate(-0.5deg) translateY(2px);
}
