html {
  height: 100%;
}

body {
  background-image: url('../../images/general/backgrounds/neutralBG.png');
  background-position: center;
  background-size: cover;
  height: 100%;
}

#newMessage,
#sound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-image: url(../../images/general/backgrounds/neutralBG.png);
  background-position: center;
  background-size: cover;
  height: 100%;
}

#sound {
  display: none;
  z-index: 9999999;
}

#attachment {
  color: #60a160;
  text-decoration: none;
  border-bottom: 3px solid #60a160;
  line-height: 1.8em;
}

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#gate15 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#gate15 img {
  width: 100%;
  height: auto;
}

#locked {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

}

#unlock {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  bottom: 20vh;
  text-align: center;
  color: #FFF;
  z-index: 999;
  display: grid;
  align-items: center;
  justify-content: center;
}

.unlockButton {
  display: none;
}


.distortion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
  background-image: url(../../images/photoSearch/distortion.png);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
}

.regularSpeed {
  background-repeat: repeat-y;
  background-position: left bottom;
  animation: slide 5s linear infinite;
  -webkit-animation: slide 5s linear infinite;
}

.otherSpeed {
  background-repeat: repeat-y;
  background-position: left bottom;
  animation: slide 4s linear infinite;
  -webkit-animation: slide 4s linear infinite;
}

@keyframes slide {
  from {
    background-position: left 0;
  }

  to {
    background-position: left 100%;
  }
}

@-webkit-keyframes slide {
  from {
    background-position: left 0;
  }

  to {
    background-position: left 100%;
  }
}

@-moz-keyframes slide {
  from {
    background-position: 83% 0;
  }

  to {
    background-position: 83% 100%;
  }
}


#lock {
  position: absolute;
  z-index: 999;
  left: 20vw;
  width: 60vw;
  height: auto;
  top: 10vh;
  display: none;
}

#code {
  position: absolute;
  z-index: 999;
  left: 15vw;
  bottom: 5vh;
  width: 70vw;
  background-image: url(../../images/bananaSonar/loaderBarEmpty.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px 58px;
}

#riddle {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  width: 180px;
  height: 40px;
  border: 0;
  background: transparent;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

#unlock-button {
  float: left;
  width: 50px;
  height: auto;
}

#audioFile {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}