html {
    height: 100%;
  }
  
  body {
    background-image: url('../../images/general/backgrounds/neutralBG.png');
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .BGimage {
    background: url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .kooi {
    background-image: url('../../images/endGame/cageOpen.png');
  }
  .kooibanaan {
    background-image: url('../../images/endGame/cageBanana.png');
  }
  .boat {
    background-image: url('../../images/endGame/boat.png');
  }
  .check {
    position:absolute;
    width:150px;
    height:auto;
    top:15vh;
    left:50%;
    margin-left:-75px;
  }
#audioFile {
  display:none;
}
#fin {
  position:absolute;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background-color:#000;
  z-index:999999;
  display:none;
}
.bauer {
  position:absolute;
  right:20px;
  bottom:20px;
  font-family: 'Arvo', serif;
  color:#FFF;
  font-size:11px;
}
#insideFIN {
  position:absolute;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#FFF;
  font-size:36px;
  font-family: 'Arvo', serif;
}