html {
  height: 100%;
}

body {
  background-image: url('../../images/general/backgrounds/neutralBG.png');
  background-position: center;
  background-size: cover;
  height: 100%;
}

.BGimage {
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gust {
  background-image: url(../../images/endGame/gust.png);
}

#code {
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: 15vh;
  width: 300px;
  margin-left: -110px;
  background-image: url(../../images/bananaSonar/loaderBarEmpty.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px 58px;
}

#riddle {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  width: 180px;
  height: 40px;
  border: 0;
  background: transparent;
  padding: 10px;
  outline: none;
}

#ok-button {
  float: left;
  width: 50px;
  height: auto;
}

.kraan {
  background-image: url(../../images/endGame/crane.png);
  /* animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;*/
}

ul {
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
  text-align: left;
  list-style: disc;
  padding-left: 15px;
  padding-right: 10px;
}

li {
  padding-bottom: 5px;
}

@keyframes slide {
  from {
    background-position: center 0;
  }

  to {
    background-position: center 15%;
  }
}

@-webkit-keyframes slide {
  from {
    background-position: center 0;
  }

  to {
    background-position: center 15%;
  }
}

@-moz-keyframes slide {
  from {
    background-position: 83% 0;
  }

  to {
    background-position: 83% 15%;
  }
}