html {
  height: 100%;
}

body {
  background-image: url('../../images/general/backgrounds/neutralBG.png');
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* map */
#map {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  opacity: 0;
}

/* arrow */
.point-to-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -108px);
}

#point-to-location {
  width: 100px;
  height: auto;
}

/* main content */
#navigate-content {
  display: none;
}

/* loader */
#loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-content img {
  display: block;
  margin-bottom: 2rem;
}

/* permissions */
#request-permissions {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../images/general/backgrounds/neutralBG.png');
  background-position: center;
  background-size: cover;
}

#request-permissions p {
  font-size: 1.5rem;
  text-align: center;
}

#request-permissions button {
  margin-top: 2rem;
}

/* progress */
.progress-container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-100px);
}

.progress-background {
  width: 200px;
  height: auto;
  display: block;
}

.progress-foreground {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 0;
  height: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url('../../images/bananaSonar/loaderBarFull.png');
  background-size: 184px 15px;
}
