@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  color: var(--text-color);
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}
